<html>
    <head>
        <title>meu teste js</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body ng-app="minhaapp" ng-controller="meuctrl">
        
        <input type="text" ng-model="texto"></p>
        <br/>
    
        <div id="divteste">
            <h1>teste legal: {{texto}}</h1>
            o valor de teste 2 eh: {{teste2}}
            <button ng-click="trocaTeste2()">Sortear um numero</button>
            <hr />
            
            <h1 ng-repeat="num in teste2">{{num}}</h1>
        </div>
    
    </body>

    <script>
        var app = angular.module('minhaapp', []);
        
        var funcbata = function($scope){
            $scope.texto = "xxxx"
            $scope.teste2 = [];
            
            $scope.trocaTeste2 = function(){
                var aleatorio = Math.floor(Math.random() * 100);
                //$scope.teste2 = aleatorio;
                $scope.teste2.push(aleatorio);
            }
        };
        
        
        app.controller('meuctrl', funcbata);
        
        
    </script>
    
</html>